.idea/gradle.xml
.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/
.idea/compiler.xml

.idea/misc.xml

.idea/workspace.xml

.idea/libraries/

.idea/modules/

.idea/modules.xml
